---
// Component Imports
import Intro from "../components/Intro.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="https://use.typekit.net/mre5rqm.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
		<title>Juan M. Rada</title>
	</head>
	<body><section>
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto">
      <Intro/>
      </div>
    </div>
	</section>
   
	</body>
</html>
