<div><ul role="list" class="py-12 text-2xl text-gray-900 py-1 font-inter font-bold">
  <li class="py-1">
  <a class="text-transparent hover:text-indigo-600 bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500" href="#">
  ~ Digital Garden
  </a>
  </li>
   <li class="py-1">
  
   <a  href="#">
  <span class="text-transparent hover:text-indigo-600 bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"> ~ About</span>
  </a>
  </li>
  <li class="py-1">
     <a  href="#">
  <span class="text-transparent hover:text-indigo-600 bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"> ~ Contact</span>
  </a>
   
  </li>
</ul></div>