---
import ThemeToggle from "./ThemeToggle.jsx";

---

<nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-white" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between">
      <div class="flex items-center">
      </div>
      <div  class="ml-10 space-x-4">
       <ThemeToggle client:visible/>
      </div>
    </div>
  </nav>
